body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.texttitle {
    font-family: 'Kanit', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: rgb(105, 105, 105);

}

.btnCreate {
    background-color: #007bff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 300px;
    border-radius: 5px;
    font-size: medium;
}

.saveBtn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 300px;
    border-radius: 5px;
    font-size: medium;
}

.linkInput {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}